@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', Arial, sans-serif !important;
	background-color: theme(colors[one_dark_light_grey]);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: 'Roboto', Arial, sans-serif !important;
	color: theme(colors[one_dark_text]);
}
